<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.manager.mapper.BaseAttrValueMapper">
    <select id="selectValueNameById" parameterType="String" resultType="String">
        SELECT
            bv.value_name
        FROM
            base_attr_value bv
        WHERE
            bv.id =  #{valueId}
    </select>
</mapper>